<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/output.css" />

    <title>{% block title %}Tick-it | Manage your tickets{% endblock %}</title>
  </head>

  <body class="min-h-dvh font-inter">
    {% if page not in ['signup', 'login'] %}
      {% include 'partials/navbar.twig' %}
    {% endif %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% if page not in ['signup', 'login'] %}
      {% include 'partials/footer.twig' %}
    {% endif %}

    <script src="/js/navbar.js"></script>

    {% if page == 'signup' %}
      <script src="/js/validateForm.js"></script>
      <script src="/js/signup.js"></script>
    {% elseif page == 'login' %}
      <script src="/js/validateForm.js"></script>
      <script src="/js/login.js"></script>
    {% endif %}
  </body>
</html>
